[submodule "robber-core"]
	path = robber-core
	url = https://github.com/joobih/robber-core.git
[submodule "robber-node"]
	path = robber-node
	url = https://github.com/joobih/robber-node.git
[submodule "robber-gum"]
	path = robber-gum
	url = https://github.com/joobih/robber-gum.git
[submodule "robber-clr"]
	path = robber-clr
	url = https://github.com/joobih/robber-clr.git
[submodule "robber-qml"]
	path = robber-qml
	url = https://github.com/joobih/robber-qml.git
[submodule "robber-python"]
	path = robber-python
	url = https://github.com/joobih/robber-python.git
[submodule "robber-tools"]
	path = robber-tools
	url = https://github.com/joobih/robber-tools.git
[submodule "robber-swift"]
	path = robber-swift
	url = https://github.com/joobih/robber-swift.git
[submodule "releng/meson"]
	path = releng/meson
	url = https://github.com/joobih/meson.git
