[submodule "robber-tools"]
	path = robber-tools
	url = https://github.com/joobih/robber-tools.git
[submodule "robber-swift"]
	path = robber-swift
	url = https://github.com/joobih/robber-swift.git
[submodule "robber-qml"]
	path = robber-qml
	url = https://github.com/joobih/robber-qml.git
